@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root { 
    --font-family: 'Montserrat', sans-serif;
    --color-purple: rgb(178, 141, 199);
    --color-pink: rgb(247, 167, 180);
    --color-yellow: rgb(255, 218, 11);
    --color-orange: rgb(248, 127, 56);
    --color-red: rgb(209, 78, 78);
    --color-green: rgb(60, 148, 57);
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* website layout*/
#content {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.6fr 0.8fr;
    grid-template-areas: 
    "header header header header"
    "sidebar main main main"
    "subbar main main main"
    ". main main main";
}

.header {
    grid-area: header;
    background-color: white;
    font-size: 1.2rem;
    text-align: end;
    padding: 0.5rem;
    box-shadow: 0px 6px 6px rgba(64, 68, 201, 0.2);
}

#sidebar {
    grid-area: sidebar;
    margin: 1rem;
    background-color: white;
    color: black;
    font-size: 1rem;
    border-radius: 25px;
    box-shadow: 0px 6px 6px rgba(64, 68, 201, 0.2);
}
#sub-bar {
    display: none;
    flex-direction: column;
    grid-area: subbar;
    margin: 1rem;
    background-color: white;
    color: rgba(136, 136, 136, 0.9);
    font-size: 1rem;
    border-radius: 25px;
    box-shadow: 0px 6px 6px rgba(64, 68, 201, 0.2);
    overflow:auto;
}
.sub-bar-item {
    height: 15px;
    font-size: 0.8rem;
    padding: 0.7rem 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sub-bar-item:hover {
    text-decoration-line: underline;
    background-color: rgba(136, 136, 136, 0.1);
}
.sub-bar-item:active {
    text-decoration-line: underline;
    background-color: rgba(136, 136, 136, 0.1);
}
.name-project {
    cursor: pointer;
}

.dlt-button-project {
    display: flex;
    background-color: transparent;
    border: none;
    color: rgba(136, 136, 136, 0.5);
    font-size: 0.8rem;
    cursor: pointer;
}

.sidebar-item {
    padding: 1rem 1rem;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar-item p {
    padding:0;
    margin:0;
}

.sidebar-item:hover {
    background-color: rgba(136, 136, 136, 0.1);
}

.active {
    background-color: rgba(136, 136, 136, 0.1);
    color: var(--color-red);
}

.list-content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 6px 6px rgba(64, 68, 201, 0.2);
    overflow:auto;
}

.project-content {
    grid-area: main;
    display: none;
    flex-direction: column;
    margin: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 6px 6px rgba(64, 68, 201, 0.2);
    overflow:auto;
}

/*sub categories*/
.past-content, .today-content, .tomorrow-content, .upcoming-content {
    width: 100%;
    margin-bottom: 2rem;
}
.list-content h2 {
    border: 1px rgba(136, 136, 136, 0.5);
    border-style: none none solid none;
    margin: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
}
.list-content h2 p {
    padding:0;
    margin:0.1rem 0 0 0.5rem;
    font-size: 1.45rem;
    color: rgba(136, 136, 136, 0.8);

}

.list-content p {
    font-size: 1rem;;
}

.add-button {
    position: fixed;
    top: 17px;
    left: 1rem;
    background-color: var(--color-red);
    border: none;
    color: white;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.6rem;
    font-size: 1rem;
    border-radius: 50%;
}

.add-button:hover {
    background-color: white;
    color: var(--color-red);
    box-shadow: 0px 6px 6px rgba(64, 68, 201, 0.2);
}

/*form*/
#form > .hidden {
    display: none;
}

#form {
    position: fixed;
    top: 11px;
    left: 3rem;
    width: 85vw;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
}

#form-task {
    width: 100%;
    display: grid;
    flex-direction: row;
    grid-template-columns: 0.2fr 3fr;
    grid-template-rows: 0.2fr;
    grid-template-areas: 
    "tools main-form";
}

.tools-form {
    grid-area: tools;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tools-form button {
    background-color: var(--color-green);
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.4rem 0.5rem;
    font-size: 1rem;
    border-radius: 50%;
}
.tools-form button:hover {
    background-color: white;
    color: var(--color-green);
    box-shadow: 0px 6px 6px rgba(64, 68, 201, 0.2);
}

.main-form {
    grid-area: main-form;
    display: grid;
    grid-template-columns: 1fr 0.3fr 0.3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "title date priority";
    grid-gap: 0.5rem;
    background-color: white;
    box-shadow: 0px 6px 6px rgba(64, 68, 201, 0.2);
    border-radius: 10px;
    
}

.main-form input[type=text] {
    grid-area: title;
    background-color: rgba(136, 136, 136, 0.1);
    color: rgba(0, 0, 0, 0.8);
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left:0.4rem;
    align-self: center;
    font-size: 0.8rem;
    padding: 0.2rem;
    font-family: var(--font-family);
}

.main-form input[type=date] {
    grid-area: date;
    align-self: center;
    font-size: 0.8rem;
    border: none;
    padding: 0.05rem;
    border-radius: 5px;
    background-color: rgba(136, 136, 136, 0.1);
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    font-family: var(--font-family);
}

::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.main-form select {
    grid-area: priority;
    background-color: rgba(136, 136, 136, 0.1);
    color: rgba(0, 0, 0, 0.8);
    border: none;
    outline: none;
    border-radius: 5px;
    align-self: center;
    margin-right: 0.4rem;
    font-size: 0.8rem;
    padding: 0.2rem;
}
.low {
    background-color: var(--color-yellow);
}
.medium {
    background-color: var(--color-orange);
}
.high {
    background-color: var(--color-red);
}

/*task item*/
.task {
    background-color: white;
    color: color;
    display: grid;
    height: 40px;
    font-size: 0.8rem;
    grid-template-columns: 3fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "main-task tools-task";
    margin: 0.7rem;
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgba(64, 68, 201, 0.2);
}
.main {
    grid-area: main-task;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 0.2fr 2fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "task-complete task-title task-date task-priority";
    align-items: center;
}
.tools {
    grid-area: tools-task;
    display: flex;
    justify-content: center;
    border-radius: 0 10px 10px 0;
}
.input-complete {
    grid-area: task-complete;
    margin-left: 1rem;
}
.main-title {
    grid-area: task-title;
    padding-left: 1rem;
}
.main-dueDate {
    grid-area: task-date;
    text-align: center;
}
.main-priority {
    grid-area: task-priority;
    text-align: center;
}
.edit-button-card, .dlt-button-card {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.edit-button-card:hover, .dlt-button-card:hover {
    color: rgba(136, 136, 136, 0.8);
}
.task.completed {
    background-color: rgba(255, 255, 255, 0.473);
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.4);
    text-decoration-color: rgba(0, 0, 0, 0.4);
}
.tools.completed {
    background-color: rgba(0, 0, 0, 0.4);
}
.edit-button-card.completed, .dlt-button-card.completed {
    color: rgba(255, 255, 255, 0.473);
}

.edit-task.hidden {
    display: none;
}
.task.edit {
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "main-task tools-task"
    "edit edit";
}

.edit-task {
    grid-area: edit;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1.2fr 0.3fr 0.2fr 0.1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "edit-title edit-dueDate edit-priority edit-validate edit-close";
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 3px rgba(64, 68, 201, 0.2);
}
.task-title {
    grid-area: edit-title;
    background-color: rgba(136, 136, 136, 0.1);
    color: rgba(0, 0, 0, 0.8);
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 4.7rem;
    align-self: center;
    font-size: 0.7rem;
    padding: 0.15rem;
    font-family: var(--font-family);
}
.task-dueDate {
    grid-area: edit-dueDate;
    align-self: center;
    font-size: 0.7rem;
    border: none;
    padding: 0.05rem;
    margin-left:0.5rem;
    border-radius: 5px;
    background-color: rgba(136, 136, 136, 0.1);
    color: rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    font-family: var(--font-family);
}
.task-priority {
    grid-area: edit-priority;
    background-color: rgba(136, 136, 136, 0.1);
    color: rgba(0, 0, 0, 0.8);
    border: none;
    outline: none;
    border-radius: 5px;
    align-self: center;
    margin-right: 0.4rem;
    font-size: 0.8rem;
    padding: 0.2rem;
}
.validate-edit, .close-edit {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.validate-edit {
    grid-area: edit-validate;
    color: var(--color-green);
}
.close-edit {
    grid-area: edit-close;
    color: var(--color-red);
}

/*new project button*/
.new-project {
    position: fixed;
    bottom: 17px;
    left: 1rem;
    background-color: transparent;
    color: var(--color-red);
    cursor: pointer;
    font-size: 0.9rem;
    padding:0;
    margin:0;
}
.new-project:hover {
    color: rgba(64, 68, 201, 0.2);
}

/*project form*/
#project-form > .hidden {
    display: none;
}

#project-form {
    position: fixed;
    bottom: 40px;
    left: 1rem;
    width: 20vw;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
}

#project {
    width: 100%;
    display: grid;
    flex-direction: row;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 0.2fr;
    grid-template-rows: 0.2fr;
    grid-template-areas: 
    "text submit";
}

.tools-project-form {
    grid-area: submit;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tools-project-form button {
    background-color: var(--color-green);
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.3rem 0.4rem;
    font-size: 0.8rem;
    border-radius: 50%;
}
.tools-project-form button:hover {
    background-color: white;
    color: var(--color-green);
    box-shadow: 0px 6px 6px rgba(64, 68, 201, 0.2);
}
.main-form-project {
    grid-area: text;
    display: flex;
    background-color: white;
    box-shadow: 0px 6px 6px rgba(64, 68, 201, 0.2);
    border-radius: 10px;
    
}
.main-form-project input[type=text] {
    background-color: rgba(136, 136, 136, 0.1);
    color: rgba(0, 0, 0, 0.8);
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left:0.4rem;
    align-self: center;
    font-size: 0.8rem;
    padding: 0.2rem;
    font-family: var(--font-family);
}
/*each project content*/
.current-project-content {
    width: 100%;
    margin-bottom: 2rem;
}
.project-content h2 {
    border: 1px rgba(136, 136, 136, 0.5);
    border-style: none none solid none;
    margin: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
}

/*responsive*/
@media only screen and (max-width: 550px) {
    #content {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.8fr 2.2fr;
        grid-template-areas: 
        "header"
        "sidebar"
        "main";
    }
}